<!--Here we output pizzas (PizzaList) Main Page--> 
<p>
    <button class="btn btn-default" ng-disabled="store.currentPage == 0" ng-click="store.currentPage=store.currentPage-1">
        <i class="icon-chevron-left" />Previous
    </button>
    {{store.currentPage+1}}/{{store.numberOfPages()}}
    <button class="btn btn-default" ng-disabled="store.currentPage >= store.pizzas.length/store.pageSize - 1" ng-click="store.currentPage=store.currentPage+1">
        Next <i class="icon-chevron-right" />
    </button>
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="4" >
            <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="pizza in store.pizzas|slice:store.currentPage*store.pageSize:store.currentPage*store.pageSize+store.pageSize">
        <td class="tdCenter"><img ng-src="img/pizzas/a.png" alt="{{pizza.name}}" width="100" height="73" /></td>
        <td>
            <a href="#/pizza/{{pizza.id}}"><b>{{pizza.name}}</b></a><br />
            {{pizza.ingridients}}
        </td>
        <td class="tdRight">
            {{pizza.price | currency}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(pizza.id, pizza.name, pizza.price, 1)">
                add to cart
            </a>
        </td>
    </tr>
    
        <tr class="well">
            <td class="tdRight" colspan="4">
                <a href="default.htm#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <i class="icon-shopping-cart" />
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                </a>
            </td>
        </tr>
</table>




<button class="btn btn-default" ng-disabled="store.currentPage == 0" ng-click="store.currentPage=store.currentPage-1">
    <i class="icon-chevron-left" />Previous
</button>
    {{store.currentPage+1}}/{{store.numberOfPages()}}
<button class="btn btn-default" ng-disabled="store.currentPage >= store.pizzas.length/store.pageSize - 1" ng-click="store.currentPage=store.currentPage+1">
    Next <i class="icon-chevron-right" />
</button>

